body {
  font-family: "Montserrat", sans-serif;
  color: var(--greyMain);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;
}

.block-title {
  font-size: 26px;
  font-weight: 700;
  line-height: 1.14;
  color: #000;
}

.block-subtitle {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.23;
  color: #000;
}

.button {
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  line-height: 1.09;
  background-color: var(--blueOne);
  padding: 12px 24px;
  border-radius: 22px;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

.active:hover {
  background-color: var(--blueHover);
}

.active:focus {
  background-color: var(--blueFocus);
}

.block-description {
  font-size: 12px;
  font-weight: 500;
  line-height: 0.82;
  color: var(--blueOne);
}

.header {
  font-size: 12px;
  font-weight: 600;
  line-height: 1.09;
}
.header .union-svg {
  cursor: pointer;
}
.header .union-svg:hover {
  --icon-color: #000;
}
.header li {
  list-style-type: none;
}
.header li a {
  text-decoration: none;
}

.education-block____info-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1;
  color: #000;
}
.education-block____started-btn {
  color: #000;
  background-color: #97f5cd;
}
.education-block____started-btn:hover {
  background-color: #c0ffe4;
}
.education-block____started-btn:focus {
  background-color: #83ebbf;
}

.courses-block {
  color: #fff;
}
.courses-block____circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  box-shadow: 0 4px 16px var(--whiteShadow);
  cursor: pointer;
}
.courses-block____circle:hover {
  background-color: var(--greenLight);
}
.courses-block____circle:hover .arrow-icon {
  --arrow-hover: #fff;
}
.courses-block____circle:active {
  background-color: var(--greenActive);
}
.courses-block h3 {
  color: #fff;
}
.courses-block____item-title {
  font-size: 12px;
  font-weight: 500;
  line-height: 0.82;
}
.courses-block____item-price {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.09;
}
.courses-block____item-discount {
  font-size: 12px;
  line-height: 1.09;
}
.courses-block____item-rating {
  font-size: 12px;
}
.courses-block____item:hover {
  box-shadow: 0 6px 20px hsla(220deg, 88%, 52%, 0.4);
}

.tour-block____play-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: var(--greenLight);
  border: 2px solid #fff;
  border-radius: 100%;
  box-shadow: 0 4px 16px hsla(133deg, 55%, 54%, 0.56);
}
.tour-block____play-btn:hover {
  border: none;
}
.tour-block____play-btn:active {
  background-color: var(--greenActive);
}
.tour-block____right-btn {
  padding: 12px 20px;
}

.business-block {
  color: var(--greenBusiness);
}
.business-block____right-title {
  font-size: 60px;
  font-weight: 700;
  line-height: 1;
  color: var(--whiteFeature);
}
.business-block____right-remaining-days {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.09;
  color: var(--blueDays);
}
.business-block____right-remaining-hours {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.09;
  color: var(--yellowHours);
}
.business-block____right-remaining-min {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.09;
  color: var(--orangeMins);
}
.business-block____right-panel h3 {
  color: #fff;
}
.business-block____right-btn {
  padding: 12px 20px;
}

.prefer-block h3 {
  color: #fff;
}

.customers-block p:last-of-type {
  font-size: 12px;
  font-weight: 700;
  line-height: 1.09;
  color: #000;
}

.started-block {
  color: #fff;
}
.started-block____left h2 {
  color: var(--greenLight);
}
.started-block____left-title {
  font-size: 12px;
  font-weight: 700;
  line-height: 1.09;
}
.started-block____left-apply-btn {
  padding: 12px 20px;
  background-color: var(--greenLight);
}
.started-block____left-request-btn {
  padding: 12px 20px;
  background: #45529c;
  border: 1px solid #fff;
}
.started-block____left-request-btn:hover {
  background-color: var(--blueRequest);
}
.started-block____left-request-btn:focus {
  background-color: var(--blueRequest);
  border: 2px solid #fff;
}
.started-block____right-title h2 {
  color: #fff;
}
.started-block h4 {
  font-weight: 500;
}

.blog-block {
  color: #000;
}
.blog-block p {
  font-size: 12px;
  font-weight: 700;
  line-height: 1.09;
}
.blog-block p:first-of-type {
  color: var(--blueDesign);
}
.blog-block____box-numbers .block-subtitle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  color: var(--blueDesign);
  cursor: pointer;
}
.blog-block____box-numbers .block-subtitle:hover {
  box-shadow: 0 4px 16px var(--whiteShadow);
}
.blog-block____box-numbers .block-subtitle:active {
  box-shadow: none;
  border: 1px solid var(--greenLight);
}

.form input {
  font-weight: 500;
  line-height: 0.94;
  width: 420px;
  padding: 14px 12px;
  background-color: var(--blueInput);
  border: none;
  border-radius: 22px;
}
.form input:focus {
  outline: 2px solid var(--blueOne);
  color: #000;
}
.form input:placeholder-shown {
  border: 1px solid var(--inputRed);
}
.form____btn {
  padding: 14px 44px;
  background-color: var(--greenLight);
  box-shadow: 0 4px 16px var(--greenSend);
}

.sources-block h3 {
  font-weight: 700;
}

footer li {
  list-style-type: none;
}
footer .footer-text {
  font-size: 12px;
  font-weight: 600;
  line-height: 1.09;
}