body {
  font-family: "Montserrat", sans-serif;
  color: #5c5c5c;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;
}
body h1 {
  font-size: 36px;
  font-weight: 700;
  line-height: 1;
  color: #000;
}
body h2 {
  font-size: 26px;
  font-weight: 700;
  line-height: 1.14;
  color: #000;
}
body h3 {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.23;
  color: #000;
}
body .button {
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  line-height: 1.09;
  background-color: #1b63f0;
  padding: 12px 24px;
  border-radius: 22px;
  border: none;
  cursor: pointer;
}
body .block-description {
  font-size: 12px;
  font-weight: 500;
  line-height: 0.82;
  color: #1b63f0;
}
body a {
  text-decoration: none;
}
body header {
  font-size: 12px;
  font-weight: 600;
  line-height: 1.09;
}
body header li {
  list-style-type: none;
}
body .education-block____started-btn {
  color: #000;
  background-color: #97f5cd;
}
body .courses-block {
  color: #fff;
}
body .courses-block h3 {
  color: #fff;
}
body .courses-block___item-title {
  font-size: 12px;
  font-weight: 500;
  line-height: 0.82;
}
body .courses-block___item-price {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.09;
}
body .courses-block___item-discount {
  font-size: 12px;
  line-height: 1.09;
}
body .courses-block___item-rating {
  font-size: 12px;
}
body .tour-block____right-btn {
  padding: 12px 20px;
}
body .business-block {
  color: #838383;
}
body .business-block____right-title {
  font-size: 60px;
  font-weight: 700;
  line-height: 1;
  color: #f6f2e9;
}
body .business-block____right-remaining-days {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.09;
  color: #91a3ed;
}
body .business-block____right-remaining-hours {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.09;
  color: #f0c41b;
}
body .business-block____right-remaining-min {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.09;
  color: #fe5f60;
}
body .business-block____right-panel h3 {
  color: #fff;
}
body .business-block____right-btn {
  padding: 12px 20px;
}
body .prefer-block h3 {
  color: #fff;
}
body .customers-block p:last-of-type {
  font-size: 12px;
  font-weight: 700;
  line-height: 1.09;
  color: #000;
}
body .started-block {
  color: #fff;
}
body .started-block____left h2 {
  color: #64be97;
}
body .started-block____left-title {
  font-size: 12px;
  font-weight: 700;
  line-height: 1.09;
}
body .started-block____left-apply-btn {
  padding: 12px 20px;
  background-color: #64be97;
}
body .started-block____left-request-btn {
  padding: 12px 20px;
  background: #45529c;
}
body .started-block____right-title h2 {
  color: #fff;
}
body .started-block h4 {
  font-weight: 500;
}
body .blog-block {
  color: #000;
}
body .blog-block p {
  font-size: 12px;
  font-weight: 700;
  line-height: 1.09;
}
body .blog-block p:first-of-type {
  color: #5d74e4;
}
body .blog-block____box-numbers h3 {
  color: #5d74e4;
}
body .form input {
  font-weight: 500;
  line-height: 0.94;
}
body .form____btn {
  padding: 14px 44px;
  background-color: #64be97;
}
body .sources-block h3 {
  font-weight: 700;
}
body footer li {
  list-style-type: none;
}
body footer .footer-text {
  font-size: 12px;
  font-weight: 600;
  line-height: 1.09;
}/*# sourceMappingURL=style.css.map */