:root {
  --greyMain: #5c5c5c;
  --blueOne: #1b63f0;
  --blueHover: #3d7fff;
  --blueFocus: #175ee9;
  --greenStarted: #97f5cd;
  --greenHover: #c0ffe4;
  --greenFocus: #83ebbf;
  --blueUnderline: #1b63f0;
  --greenLight: #64be97;
  --whiteShadow: #e2edfb;
  --greenActive: #55b089;
  --whiteFeature: #f6f2e9;
  --greenBusiness: #838383;
  --blueDays: #91a3ed;
  --yellowHours: #f0c41b;
  --orangeMins: #fe5f60;
  --blueRequest: hsla(0, 0%, 100%, 0.15);
  --blueDesign: #5d74e4;
  --blueSquare: #637af2;
  --blueCircle: #bad1ff;
  --purpleCircle: #1b63f0;
  --greenApply: #97f5cd;
  --greenApplyHover: #5df0b1;
  --creamFeatured: #fff9f1;
  --greenLatest: #d6fae7;
  --blueInput: #f3f6fc;
  --inputRed: #f15b5b;
  --greenSend: hsla(133, 54%, 54%, 0.58);
  --greenSendHover: #4ac966b0;
}
