body {
  font-family: 'Montserrat', sans-serif;
  color: var(--greyMain);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;
  overflow-x: hidden;
}

.background {
  position: relative;
  height: 314px;
  margin-bottom: 120px;

  &___container {
    position: relative;

    img {
      position: absolute;
      z-index: 1;
    }

    img:last-of-type {
      position: absolute;
      z-index: 2;
      right: 0;
    }
  }
}

.block-title {
  font-size: 26px;
  font-weight: 700;
  line-height: 1.14;
  color: #000;
}

.block-subtitle {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.23;
  color: #000;
}

.button {
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  line-height: 1.09;
  background-color: var(--blueOne);
  padding: 12px 24px;
  border-radius: 22px;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

.active:hover {
  background-color: var(--blueHover);
}

.active:focus {
  background-color: var(--blueFocus);
}

.block-description {
  font-size: 12px;
  font-weight: 500;
  line-height: 0.82;
  color: var(--blueOne);
}

.title-underline {
  width: 60px;
  border-bottom: 2px solid var(--blueUnderline);
}

.circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  box-shadow: 0 4px 16px var(--whiteShadow);
  cursor: pointer;
  margin: 170px 5px 0 5px;
}

.circle:hover {
  background-color: var(--greenLight);

  .arrow-icon {
    --arrow-hover: #fff;
  }
}

.circle:active {
  background-color: var(--greenActive);
}

.header {
  font-size: 12px;
  font-weight: 600;
  line-height: 1.09;
  display: flex;
  position: fixed;
  z-index: 3;
  top: 0;

  ul {
    display: none;
  }

  .burger-menu {
    cursor: pointer;
    margin: 37px 14px 0 26px;
  }

  .union-svg {
    cursor: pointer;
    margin-top: 32px;
  }

  .union-svg:hover {
    --icon-color: #000;
  }

  .button {
    justify-content: flex-end;
    margin: 24px 24px 0 141px;
  }

  li {
    list-style-type: none;

    a {
      text-decoration: none;
    }
  }
}

.education-block {
  display: flex;
  flex-direction: column;
  margin-left: 24px;

  .illustration-icon {
    margin-left: -25px;
    position: absolute;
    z-index: 2;
    top: 60px;
  }

  &____info-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    margin-top: 10px;
    margin-bottom: 32px;
  }

  p {
    margin: 0;
  }

  .button {
    margin-top: 40px;
  }

  &____started-btn {
    color: #000;
    background-color: var(--greenStarted);
    margin-left: 24px;
  }

  &____started-btn:hover {
    background-color: var(--greenHover);
  }

  &____started-btn:focus {
    background-color: var(--greenFocus);
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
  }
}

.shy-block {
  display: flex;
  flex-direction: column;
  margin-left: 24px;
  text-align: center;

  &____title {
    display: flex;
    margin-bottom: 35px;

    h2 {
      margin-bottom: 0;
    }

    .title-underline {
      margin-left: 24px;
    }
  }

  &____item {
    margin-top: 20px;

    .block-subtitle {
      margin: 20px 0 6px 0;
    }

    p {
      margin: 0;
    }
  }
}

.courses-block {
  color: #fff;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  margin-bottom: 80px;

  .block-description {
    margin: 0 0 6px 0;
  }

  &____title {
    margin-bottom: 54px;
    text-align: center;

    .block-title {
      margin: 0;
    }
  }

  &____box {
    display: flex;

    h3 {
      color: #fff;
    }

    &-item {
      height: 364px;
      position: relative;

      &-man {
        position: absolute;
        left: 16px;
        top: -22px;
      }

      &-bg {
        background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
          url(/images/courses-block/desing.png);
        width: 260px;
        height: 364px;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 8px;
      }

      &-title {
        font-size: 12px;
        font-weight: 500;
        line-height: 0.82;
        position: absolute;
        top: 243px;
        left: 16px;
      }

      &-underline {
        position: absolute;
        top: 313px;
        text-align: start;
        border: 1px solid #fff;
        width: 260px;
        opacity: 0.3;
      }

      .block-subtitle {
        position: absolute;
        top: 263px;
        left: 16px;
      }

      &-price {
        font-size: 18px;
        font-weight: 700;
        line-height: 1.09;
        position: absolute;
        top: 320px;
        left: 16px;
      }

      &-discount {
        font-size: 12px;
        line-height: 1.09;
        position: absolute;
        top: 342px;
        left: 70px;
      }

      &-rating {
        font-size: 12px;
        position: absolute;
        top: 340px;
        left: 170px;
      }

      &-mark {
        position: absolute;
        top: 322px;
        left: 235px;
      }
    }

    &-item-marketing {
      display: none;
    }

    &-item-web {
      display: none;
    }

    &-item:hover {
      box-shadow: 0 6px 20px hsla(220, 88%, 52%, 0.4);
    }
  }
}

.tour-block {
  &____left {
    position: relative;

    &-play-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      background-color: var(--greenLight);
      border: 2px solid #fff;
      border-radius: 100%;
      box-shadow: 0 4px 16px hsla(133, 55%, 54%, 0.56);
      position: absolute;
      top: 200px;
      left: 170px;
    }

    &-play-btn:hover {
      border: none;
    }

    &-play-btn:active {
      background-color: var(--greenActive);
    }
  }

  &____right {
    margin: 0 24px;

    .block-description {
      margin: 40px 0 6px 0;
    }

    &-title {
      display: flex;

      .block-title {
        margin: 0 0 24px 0;
      }

      .title-underline {
        height: 2px;
        margin: 20px 0 0 24px;
      }
    }

    &-info {
      p {
        margin: 0 0 12px 0;
      }

      ul {
        list-style-image: url('/images/tour-block/ellipse.svg');

        li {
          margin-bottom: 12px;
        }

        li:last-of-type {
          margin-bottom: 24px;
        }
      }
    }

    &-btn {
      padding: 12px 20px;
    }
  }
}

.business-block {
  color: var(--greenBusiness);
  margin-top: 120px;

  &____left {
    margin: 0 0 0 24px;

    &-title {
      display: flex;

      .block-title {
        margin: 0 0 32px 0;
      }

      .title-underline {
        height: 0;
        margin: 20px;
      }
    }

    &-item {
      display: flex;
      flex-wrap: wrap;

      div {
        margin: 0 25px 8px 0;
      }

      svg {
        margin-right: 10px;
      }

      .block-subtitle {
        flex-grow: 1;
        margin: 0;
      }

      &-date {
        display: flex;

        p {
          margin: 0;
        }
      }

      &-time {
        display: flex;

        p {
          margin: 0;
        }
      }

      &-location {
        display: flex;
        flex-wrap: nowrap;

        p {
          margin: 0;
        }
      }
    }

    &-underline {
      height: 1px;
      background-color: var(--greyMain);
      width: 100%;
      opacity: 0.1;
      margin: 24px 0 40px 0;
    }
  }

  &____right {
    background-color: var(--creamFeatured);
    margin-bottom: 100px;
    padding-top: 40px;

    &-title {
      font-size: 60px;
      font-weight: 700;
      line-height: 1;
      color: var(--whiteFeature);
      margin: 0 0 40px 16px;
    }

    &-remaining {
      display: flex;
      margin: 24px 24px;

      p {
        margin: 0 44px 0 6px;
      }

      &-days {
        font-size: 18px;
        font-weight: 700;
        line-height: 1.09;
        color: var(--blueDays);
      }

      &-hours {
        font-size: 18px;
        font-weight: 700;
        line-height: 1.09;
        color: var(--yellowHours);
      }

      &-min {
        font-size: 18px;
        font-weight: 700;
        line-height: 1.09;
        color: var(--orangeMins);
      }
    }

    &-panel {
      position: relative;
      height: 380px;
      max-width: 310px;
      background-image: url(/images/courses-block/desing.png);
      background-size: cover;
      margin: 0 24px;
      border-radius: 8px;

      &-bg {
        width: 280px;
        height: 156px;
        position: absolute;
        background-color: hsla(0, 0%, 0%, 0.8);
        top: 224px;
        left: 15px;
        display: flex;
        flex-wrap: wrap;

        .block-subtitle {
          color: #fff;
          margin-left: 22px;
          margin-top: 24px;
        }

        p {
          margin: 0 16px 0 0;
        }

        svg {
          margin: 0 12px 0 14px;
        }

        &-date {
          display: flex;
        }

        &-time {
          display: flex;
        }

        &-location {
          display: flex;
          flex-grow: 1;
          justify-content: center;
        }
      }
    }

    &-btn {
      padding: 12px 20px;
      margin: 40px 0 0 24px;
    }
  }
}

.prefer-block {
  margin: 0 24px;

  .block-title {
    display: flex;
  }

  p {
    text-align: center;
    margin-bottom: 40px;
  }

  &____container {
    display: flex;

    .circle {
      margin-top: 85px;
    }

    &-item {
      position: relative;

      &-bg {
        position: absolute;
        width: 207px;
        height: 197px;
        border-radius: 4px;
        background-color: rgba(101, 131, 255, 0.8);
      }

      img {
        width: 207px;
        height: 197px;
        border-radius: 4px;
      }

      h3 {
        position: absolute;
        top: 75px;
        left: 34px;
        color: #fff;
      }
    }

    .web {
      display: none;
    }

    .marketing {
      display: none;
    }

    .education {
      display: none;
    }
  }
}

.customers-block {
  &____images {
    position: relative;
    height: 270.03px;
    margin-bottom: 24px;
    margin-top: 80px;

    &-square {
      width: 270.03px;
      height: 270.03px;
      position: absolute;
      margin-left: 24px;
      border-radius: 24px;
      background-color: var(--blueSquare);
      z-index: 1;
    }

    &-img {
      position: absolute;
      margin-left: 78px;
      margin-top: 46px;
      border-radius: 24px;
      z-index: 2;
    }
  }

  &____container {
    position: relative;
    height: 450px;

    &-background {
      position: absolute;

      &-one {
        width: 546px;
        height: 409px;
        position: absolute;
        z-index: 1;
        top: 200px;
        left: -76px;
      }

      &-two {
        width: 353px;
        height: 361px;
        position: absolute;
        z-index: 2;
        top: 220px;
        left: -48px;
      }
    }

    &-info {
      margin: 70px 24px 0 24px;
      position: absolute;
      z-index: 3;

      &-title {
        display: flex;
        margin-bottom: 48px;

        .block-title {
          margin: 0;
        }
      }

      img {
        margin-bottom: 32px;
      }

      p {
        margin: 0 0 16px 0;
      }

      p:last-of-type {
        font-size: 12px;
        font-weight: 700;
        line-height: 1.09;
        color: #000;
      }

      &-circles {
        display: flex;
        margin-top: 60px;

        &-circle {
          width: 10px;
          height: 10px;
          border-radius: 50%;
          margin-right: 5px;
          background-color: var(--blueCircle);
        }

        .blue {
          background-color: var(--purpleCircle);
        }
      }
    }
  }
}

.started-block {
  color: #fff;
  margin-top: 100px;
  position: relative;
  z-index: 4;

  &____bg {
    width: 100%;
    height: 652px;
    background: linear-gradient(rgba(69, 82, 156, 0.95), rgba(69, 82, 156, 0.95)),
      url(/images/courses-block/desing.png);
  }

  &____left {
    position: absolute;
    display: inline-block;
    top: 0;
    margin: 0 24px;

    .button {
      margin-top: 32px;
      margin-right: 24px;
    }

    &-title {
      font-size: 12px;
      font-weight: 700;
      line-height: 1.09;
      margin-top: 40px;
    }

    h2 {
      color: var(--greenLight);
    }

    &-apply-btn {
      padding: 12px 20px;
      background-color: var(--greenApply);
      color: #000;
    }

    &-apply-btn:hover {
      background-color: var(--greenApplyHover);
    }
    &-request-btn {
      padding: 12px 20px;
      background: transparent; // transparent
      border: 1px solid #fff;
    }

    &-request-btn:hover {
      background-color: var(--blueRequest);
    }

    &-request-btn:focus {
      background-color: var(--blueRequest);
      border: 2px solid #fff;
    }
  }

  &____right {
    &-title {
      position: absolute;
      top: 350px;
      display: flex;
      margin-top: 56px;

      .chain-icon {
        margin-left: 26.06px;
        margin-right: 10px;
      }

      h2 {
        color: #fff;
        margin: 0;
      }
    }

    &-box {
      position: absolute;
      top: 430px;
      display: flex;
      flex-wrap: wrap;
      margin-top: 25px;

      &-item {
        display: flex;
        flex: 100% 1 0;
        margin-left: 26px;

        h4 {
          font-weight: 500;
          margin: 0 15px;
        }
      }
    }

    &-underline {
      height: 1px;
      width: 100%;
      margin: 13px 24px;
      background-color: #fff;
      opacity: 0.2;
    }
  }
}

.blog-block {
  color: #000;
  margin: 0 24px;

  &____title {
    display: flex;

    .block-title {
      margin: 80px 0 0 0;
    }

    .title-underline {
      height: 100px;
      margin-left: 24px;
    }
  }

  &____box {
    &-item {
      position: relative;
      max-width: 310px;
      height: 243px;
      margin-top: 44px;

      &-img {
        width: 259px;
        height: 160px;
        position: absolute;
        right: -17px;
        top: -24px;
      }

      &-background {
        width: 327px;
        height: 100%;
        background-color: var(--greenLatest);
        border-radius: 16px 16px 0 16px;
        position: absolute;
      }

      p {
        font-size: 12px;
        font-weight: 700;
        line-height: 1.09;
      }

      p:first-of-type {
        position: absolute;
        writing-mode: vertical-lr;
        text-orientation: upright;
        color: var(--blueDesign);
        top: 18px;
        left: 14px;
      }

      p:last-of-type {
        position: absolute;
        top: 205px;
        left: 80px;
      }

      &-man {
        position: absolute;
        top: 150px;
        left: 16px;
      }

      .block-subtitle {
        position: absolute;
        top: 150px;
        left: 80px;
      }
    }

    &-numbers {
      display: flex;
      justify-content: center;
      margin-top: 24px;
      margin-bottom: 80px;

      .block-subtitle {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        margin-right: 22px;
        border-radius: 100%;
        color: var(--blueDesign);
        cursor: pointer;
      }

      .block-subtitle:hover {
        box-shadow: 0 4px 16px var(--whiteShadow);
      }

      .block-subtitle:active {
        box-shadow: none;
        border: 1px solid var(--greenLight);
      }
    }
  }
}

.form {
  text-align: center;

  input {
    font-weight: 500;
    line-height: 0.94;
    width: 307px;
    padding: 14px 12px;
    margin-bottom: 16px;
    background-color: var(--blueInput);
    border: none;
    border-radius: 22px;
  }

  input:focus {
    outline: 2px solid var(--blueOne);
    color: #000;
  }

  input:placeholder-shown {
    border: 1px solid var(--inputRed);
  }

  &____btn {
    background-color: var(--greenLight);
    box-shadow: 0 4px 16px var(--greenSend);
    margin-top: 16px;
    width: 327px;
    height: 44px;
  }

  &____btn:hover {
    background-color: var(--greenSendHover);
  }
}

footer {
  .sources-block {
    margin: 80px 24px 0 24px;

    .union-svg:hover {
      --icon-color: #000;
      cursor: pointer;
    }

    &____item {
      h3 {
        font-weight: 700;
        margin-bottom: 16px;
      }

      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
          margin-bottom: 12px;
        }
      }

      &-icons {
        svg {
          margin-right: 20px;
        }
      }
    }

    &____underline {
      height: 1px;
      width: 100%;
      background-color: var(--greyMain);
      opacity: 0.1;
      margin: 43px 0 40px 0;
    }
  }

  .footer-text {
    font-size: 12px;
    font-weight: 600;
    line-height: 1.09;
    margin: 0 24px 24px 24px;

    p {
      margin: 0 0 24px 0;
    }

    ul {
      list-style: none;
      padding: 0;

      li {
        margin-bottom: 20px;
      }
    }
  }
}
