@import url(/html__css/normalize.css);
@import url(/html__css/variables.css);
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  color: var(--greyMain);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;
  overflow-x: hidden;
  position: relative;
  background-image: url("/html__css/images/background.svg");
  background-repeat: no-repeat;
  background-position-x: right;
}

.block-title {
  font-size: 26px;
  font-weight: 700;
  line-height: 1.14;
  color: #000;
}

.block-subtitle {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.23;
  color: #000;
}

.block-title::after {
  content: "";
  position: absolute;
  left: 230px;
  top: 20px;
  width: 60px;
  border-top: 2px solid var(--blueUnderline);
}

.button {
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  line-height: 1.09;
  background-color: var(--blueOne);
  padding: 12px 24px;
  border-radius: 22px;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

.active:hover {
  background-color: var(--blueHover);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.active:focus {
  background-color: var(--blueFocus);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.block-description {
  font-size: 12px;
  font-weight: 500;
  line-height: 0.82;
  color: var(--blueOne);
}

.circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  box-shadow: 0 4px 16px var(--whiteShadow);
  cursor: pointer;
}

.circle:hover {
  background-color: var(--greenLight);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.circle:hover .arrow-icon {
  --arrow-hover: #fff;
}

.circle:active {
  background-color: var(--greenActive);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 1024px;
  margin: 0 auto;
  width: 100%;
}

.container-big {
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
}

.header {
  font-size: 12px;
  font-weight: 600;
  line-height: 1.09;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.header__icons {
  display: flex;
}
.header__icons .burger-icon {
  cursor: pointer;
  margin: 38px 15px 0 27px;
  --icon-color: var(--blueUnderline);
}
.header__icons .union-svg {
  cursor: pointer;
  margin-top: 32px;
}
.header__icons .union-svg:hover {
  --icon-color: #000;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header .navigation {
  position: fixed;
  top: -200%;
  background-color: #fff;
  width: 100%;
  z-index: 3;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header .navigation ul li {
  list-style-type: none;
}
.header .navigation ul li a {
  text-decoration: none;
  color: #000;
}
.header .navigation ul li a:hover {
  color: var(--blueOne);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header .open {
  top: 0;
  display: flex;
  flex-direction: column;
}
.header .open .header__icons {
  margin-bottom: 94px;
}
.header .open .header__icons .burger-icon {
  --icon-color: #000;
}
.header .open ul {
  padding: 24px;
  z-index: 3;
}
.header .open ul li {
  font-size: 26px;
  font-weight: 700;
  line-height: 1.14;
  margin-bottom: 65px;
  position: relative;
}
.header .open ul li::after {
  content: "";
  width: 100%;
  border-bottom: 1px solid var(--blueHover);
  position: absolute;
  top: 60px;
  left: 0;
  opacity: 0.2;
}
.header .open .cross {
  position: absolute;
  top: 38px;
  right: 30px;
  align-self: flex-end;
  cursor: pointer;
}
.header .button {
  margin: 24px 32px 0;
}
@media screen and (min-width: 768px) {
  .header .burger-icon {
    display: none;
  }
  .header .union-svg {
    margin-left: 50px;
  }
  .header #union-opened {
    display: none;
  }
  .header .cross {
    display: none;
  }
  .header .navigation {
    display: flex;
    justify-content: end;
    width: 100%;
    position: static;
    background: none;
  }
  .header .navigation ul {
    display: flex;
    margin-top: 36px;
  }
  .header .navigation ul li {
    margin-left: 20px;
  }
  .header .navigation ul li a {
    color: #fff;
  }
  .header .navigation ul li::after {
    display: none;
  }
}

.education {
  display: flex;
  flex-direction: column;
  margin-bottom: 80px;
}
.education .illustration-icon {
  display: flex;
  width: 375px;
  height: 377px;
  margin: 0 auto;
}
.education__info {
  margin-left: 24px;
}
.education__info-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1;
  color: #000;
  margin-top: 10px;
  margin-bottom: 32px;
}
.education__info p {
  margin: 0;
}
.education__info .button {
  margin-top: 40px;
}
.education__info-started-btn {
  color: #000;
  background-color: var(--greenStarted);
  margin-left: 24px;
}
.education__info-started-btn:hover {
  background-color: var(--greenHover);
}
.education__info-started-btn:focus {
  background-color: var(--greenFocus);
}
.education ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 40px 0 0 0;
}
@media screen and (min-width: 768px) {
  .education {
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 24px;
  }
  .education__info {
    order: 1;
    flex: 1 1 50%;
    flex-wrap: wrap;
    margin-top: 200px;
    margin-left: 0;
  }
  .education .illustration-icon {
    width: 500px;
    height: 500px;
    order: 2;
    flex: 1 1 50%;
  }
  .education ul {
    order: 3;
    margin: 0;
  }
}

.shy {
  flex-direction: column;
  margin-left: 24px;
  text-align: center;
}
.shy .block-title {
  margin: 0;
  position: relative;
  text-align: start;
}
.shy__container {
  display: flex;
  flex-direction: column;
}
.shy__container-item {
  margin-top: 20px;
}
.shy__container-item .block-subtitle {
  margin: 20px 0 6px 0;
}
.shy__container-item p {
  margin: 0;
}
@media screen and (min-width: 768px) {
  .shy {
    text-align: start;
  }
  .shy__container {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .shy__container-item {
    flex: 1 1 calc(50% - 10px);
    margin-right: 10px;
  }
}

.courses {
  color: #fff;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 80px;
}
.courses__title {
  margin-bottom: 54px;
  text-align: center;
}
.courses__title .block-title {
  margin: 0;
}
.courses__title .block-title::after {
  display: none;
}
.courses__title .block-description {
  margin: 0 0 6px 0;
}
.courses__box {
  display: flex;
  align-items: center;
}
.courses__box .circle {
  margin: 5px;
}
.courses__box h3 {
  color: #fff;
}
.courses__box-item {
  width: 260px;
  height: 364px;
  display: flex;
  flex-direction: column;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
  border-radius: 8px;
}
.courses__box-item-woman {
  position: absolute;
  translate: 16px -50%;
}
.courses__box-item-top {
  display: flex;
  flex-direction: column;
  margin-top: 243px;
  padding: 0 0 16px 0;
  border-bottom: 1px solid var(--grayCoursesUnderline);
}
.courses__box-item-top-title {
  font-size: 12px;
  font-weight: 500;
  line-height: 0.82;
  margin: 0 0 8px 16px;
}
.courses__box-item-top .block-subtitle {
  margin: 0 0 0 16px;
}
.courses__box-item-bottom {
  display: flex;
  margin-left: 16px;
  margin-top: 16px;
  margin: 16px 0 0 16px;
}
.courses__box-item-bottom-price {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.09;
  margin: 0 10px 0 0;
}
.courses__box-item-bottom-discount {
  font-size: 12px;
  line-height: 1.09;
  margin: 4px 67px 0 0;
}
.courses__box-item-bottom-rating {
  font-size: 12px;
  margin: 7px 4px 0 0;
}
.courses__box-item-bottom-mark {
  margin: 4px 0 0 0;
}
.courses__box-item:hover {
  box-shadow: 0 6px 20px hsla(220deg, 88%, 52%, 0.4);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.courses__box .design {
  background: url("/html__css/images/courses-block/desing.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.courses__box .marketing {
  display: none;
  background: url("/html__css/images/courses-block/marketing.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.courses__box .web {
  display: none;
  background: url("/html__css/images/courses-block/web-design.png");
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (min-width: 768px) {
  .courses__box .design {
    margin-right: 20px;
  }
  .courses__box .marketing {
    display: block;
  }
  .courses__box .circle {
    margin: 20px;
  }
}
@media screen and (min-width: 1440px) {
  .courses__box .marketing {
    margin-right: 20px;
  }
  .courses__box .web {
    display: block;
  }
}

.tour {
  display: flex;
  flex-direction: column;
  background-image: url("/html__css/images/tour-block/background-tour.svg");
  background-repeat: no-repeat;
}
.tour__left {
  position: relative;
}
.tour__left-play-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 200px;
  left: 170px;
  background-color: var(--greenLight);
  border: 2px solid #fff;
  border-radius: 100%;
  box-shadow: 0 4px 16px hsla(133deg, 55%, 54%, 0.56);
}
.tour__left-play-btn:hover {
  border: none;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.tour__left-play-btn:active {
  background-color: var(--greenActive);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.tour__right {
  margin: 0 24px;
  position: relative;
}
.tour__right .block-description {
  margin: 40px 0 6px 0;
}
.tour__right-title {
  display: flex;
}
.tour__right-title .block-title {
  margin: 0 0 24px 0;
  position: relative;
}
.tour__right-title .block-title::after {
  left: 180px;
}
.tour__right-info p {
  margin: 0 0 12px 0;
}
.tour__right-info ul {
  list-style-image: url("/html__css/images/tour-block/ellipse.svg");
}
.tour__right-info ul li {
  margin-bottom: 12px;
}
.tour__right-info ul li:last-of-type {
  margin-bottom: 24px;
}
.tour__right-btn {
  padding: 12px 20px;
}
.tour__right-square {
  display: none;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 180px;
  right: -50px;
  background-color: var(--grayTourSquare);
  border-radius: 8px;
}
.tour__right-round {
  display: none;
  width: 32px;
  height: 32px;
  position: absolute;
  top: 335px;
  left: 360px;
  background-color: var(--grayTourSquare);
  border-radius: 50%;
}
@media screen and (min-width: 1024px) {
  .tour {
    flex-direction: row;
  }
  .tour__left-play-btn {
    left: 485px;
  }
  .tour__right {
    margin: 0 60px;
  }
}
@media screen and (min-width: 1440px) {
  .tour__right {
    margin: 0 120px;
  }
  .tour__right-square {
    display: block;
  }
  .tour__right-round {
    display: block;
  }
}

.business {
  color: var(--greenBusiness);
  margin-top: 120px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
}
.business__left {
  margin: 0 18px 0 18px;
  background-color: var(--blueBusiness);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.business__left .block-title {
  display: flex;
  align-self: start;
  margin: 0 0 32px 0;
  padding-top: 40px;
  position: relative;
}
.business__left .block-title::after {
  left: 240px;
  top: 60px;
}
.business__left-item {
  position: relative;
  margin-bottom: 65px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.business__left-item .block-subtitle {
  flex-grow: 1;
  margin: 0 0 16px 0;
}
.business__left-item-box {
  display: flex;
  flex-wrap: wrap;
}
.business__left-item-box div {
  margin: 8px;
}
.business__left-item-box svg {
  margin-right: 10px;
}
.business__left-item-box-date {
  display: flex;
}
.business__left-item-box-date p {
  margin: 0;
}
.business__left-item-box-time {
  display: flex;
}
.business__left-item-box-time p {
  margin: 0;
}
.business__left-item-box-location {
  display: flex;
  flex-wrap: nowrap;
}
.business__left-item-box-location p {
  margin: 0;
}
.business__left-item:last-of-type {
  margin-bottom: 0;
  padding-bottom: 65px;
}
.business__left-item::after {
  content: "";
  position: absolute;
  top: 110px;
  width: 100%;
  border-bottom: 1px solid var(--greyMain);
  opacity: 0.1;
}
.business__right {
  background-color: var(--creamFeatured);
  padding-top: 40px;
  text-align: center;
}
.business__right-title {
  font-size: 60px;
  font-weight: 700;
  line-height: 1;
  color: var(--whiteFeature);
  margin: 0 0 40px 16px;
}
.business__right-remaining {
  width: 310px;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  margin-bottom: 40px;
}
.business__right-remaining-item {
  display: flex;
}
.business__right-remaining-item span {
  margin-right: 6px;
}
.business__right-remaining-item p {
  margin: 0;
}
.business__right-remaining-days {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.09;
  color: var(--blueDays);
}
.business__right-remaining-hours {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.09;
  color: var(--yellowHours);
}
.business__right-remaining-min {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.09;
  color: var(--orangeMins);
}
.business__right-panel {
  height: 380px;
  max-width: 310px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-image: url("/html__css/images/courses-block/desing.png");
  background-size: cover;
  margin: 0 24px;
  border-radius: 8px;
  margin: 0 auto;
}
.business__right-panel-bg {
  width: 280px;
  height: 156px;
  background-color: hsla(0deg, 0%, 0%, 0.8);
  display: flex;
  flex-wrap: wrap;
}
.business__right-panel-bg .block-subtitle {
  color: #fff;
  margin-left: 22px;
  margin-top: 24px;
}
.business__right-panel-bg p {
  margin: 0 16px 0 0;
}
.business__right-panel-bg svg {
  margin: 0 12px 0 14px;
}
.business__right-panel-bg-date {
  display: flex;
}
.business__right-panel-bg-time {
  display: flex;
}
.business__right-panel-bg-location {
  display: flex;
  flex-grow: 1;
  justify-content: center;
}
.business__right-btn {
  padding: 12px 20px;
  margin: 40px 0 0 24px;
}
@media screen and (min-width: 570px) {
  .business .block-title {
    align-self: center;
  }
}
@media screen and (min-width: 768px) {
  .business__left {
    margin: 0;
  }
}
@media screen and (min-width: 1440px) {
  .business {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .business__right {
    width: 50%;
  }
  .business__left {
    width: 50%;
  }
  .business__left .block-title {
    align-self: start;
    margin-left: 140px;
  }
  .business__left-item {
    align-items: start;
  }
}

.prefer {
  margin: 0 24px 100px 24px;
}
.prefer__title {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.prefer__title .block-title {
  display: flex;
  position: relative;
}
.prefer__title .block-title::after {
  left: 380px;
}
.prefer__title p {
  text-align: center;
  margin-bottom: 40px;
}
.prefer__box {
  display: flex;
  justify-content: center;
  align-items: center;
}
.prefer__box .circle {
  margin: 6px;
}
.prefer__box-item {
  position: relative;
  border-radius: 4px;
  width: 207px;
  height: 197px;
}
.prefer__box-item-bg {
  width: 100%;
  height: 100%;
}
.prefer__box-item h3 {
  position: absolute;
  top: 75px;
  left: 34px;
  color: #fff;
}
.prefer__box .design__item {
  background-image: url("/html__css/images/courses-block/desing.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.prefer__box .design__item .prefer__box-item-bg {
  background-color: var(--bluePreferDesign);
}
.prefer__box .web__item {
  display: none;
}
.prefer__box .marketing__item {
  display: none;
}
.prefer__box .education__item {
  display: none;
}
@media screen and (min-width: 768px) {
  .prefer .web__item {
    display: block;
    margin-left: 20px;
    background-image: url("/html__css/images/courses-block/web-design.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .prefer .web__item .prefer__box-item-bg {
    background-color: var(--orangePreferWeb);
  }
  .prefer .circle {
    margin: 20px;
  }
}
@media screen and (min-width: 1440px) {
  .prefer .marketing__item {
    display: block;
    margin-left: 20px;
    display: block;
    margin-left: 20px;
    background-image: url("/html__css/images/prefer-block/marketing.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .prefer .marketing__item .prefer__box-item-bg {
    background-color: var(--purplePreferMarketing);
  }
  .prefer .education__item {
    display: block;
    margin-right: 0;
    margin-left: 20px;
    background-image: url("/html__css/images/prefer-block/education.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .prefer .education__item .prefer__box-item-bg {
    background-color: var(--redPreferEducation);
  }
}

.customers {
  display: flex;
  flex-direction: column;
  position: relative;
}
.customers__background {
  position: absolute;
  top: 580px;
  left: -135px;
}
.customers__gallery {
  position: relative;
  height: 270.03px;
  margin-bottom: 24px;
  margin-top: 80px;
  width: 830px;
}
.customers__gallery-square {
  width: 270.03px;
  height: 270.03px;
  position: absolute;
  margin-left: 24px;
  border-radius: 24px;
  background-color: var(--blueSquare);
  z-index: 1;
}
.customers__gallery-img {
  position: absolute;
  margin-left: 78px;
  margin-top: 46px;
  border-radius: 24px;
  z-index: 2;
}
.customers__info {
  margin: 70px 24px 0 24px;
  z-index: 1;
}
.customers__info-title {
  display: flex;
  margin-bottom: 48px;
}
.customers__info-title .block-title {
  margin: 0;
  position: relative;
  width: 140px;
}
.customers__info-title .block-title::after {
  left: 230px;
  top: 50px;
}
.customers__info img {
  margin-bottom: 32px;
}
.customers__info p {
  margin: 0 0 16px 0;
}
.customers__info p:last-of-type {
  font-size: 12px;
  font-weight: 700;
  line-height: 1.09;
  color: #000;
}
.customers__info-circles {
  display: flex;
  margin-top: 60px;
}
.customers__info-circles-circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 5px;
  background-color: var(--blueCircle);
}
.customers__info-circles .circle-blue {
  background-color: var(--purpleCircle);
}
@media screen and (min-width: 768px) {
  .customers {
    flex-direction: row;
  }
  .customers .block-title {
    width: 100%;
  }
  .customers .block-title::after {
    left: 300px;
    top: 20px;
  }
  .customers__background {
    top: 0;
  }
}

.started {
  display: flex;
  flex-direction: column;
  color: #fff;
  margin-top: 100px;
  padding-bottom: 54px;
  position: relative;
  background: linear-gradient(rgba(69, 82, 156, 0.95), rgba(69, 82, 156, 0.95)), url("/html__css/images/courses-block/desing.png");
}
.started .block-title::after {
  display: none;
}
.started__left {
  display: inline-block;
  top: 0;
  margin: 40px 24px 0 24px;
}
.started__left .button {
  margin-top: 32px;
}
.started__left-title {
  font-size: 12px;
  font-weight: 700;
  line-height: 1.09;
}
.started__left .block-title {
  color: var(--greenLight);
}
.started__left .block-title::after {
  display: none;
}
.started__left-apply-btn {
  padding: 12px 20px;
  background-color: var(--greenApply);
  color: #000;
  margin-right: 24px;
}
.started__left-apply-btn:hover {
  background-color: var(--greenApplyHover);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.started__left-request-btn {
  padding: 12px 20px;
  background: transparent;
  border: 1px solid #fff;
}
.started__left-request-btn:hover {
  background-color: var(--blueRequest);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.started__left-request-btn:focus {
  background-color: var(--blueRequest);
  border: 2px solid #fff;
}
.started__right {
  display: flex;
  flex-direction: column;
  margin-top: 88px;
}
.started__right-title {
  display: flex;
}
.started__right-title .chain-icon {
  margin-left: 26.06px;
  margin-right: 10px;
}
.started__right-title .block-title {
  color: #fff;
  margin: 0;
}
.started__right-box {
  display: flex;
  flex-wrap: wrap;
  margin-top: 25px;
}
.started__right-box-item {
  display: flex;
  flex: 100% 1 0;
  margin-left: 26px;
  margin-bottom: 27px;
  position: relative;
}
.started__right-box-item h4 {
  font-weight: 500;
  margin: 0 15px;
}
.started__right-box-item h4 a {
  text-decoration: none;
  color: #fff;
}
.started__right-box-item::after {
  content: "";
  position: absolute;
  top: 30px;
  width: 100%;
  border-bottom: 1px solid #fff;
  opacity: 0.2;
}
@media screen and (min-width: 768px) {
  .started {
    flex-direction: row;
  }
  .started__left {
    margin-right: 100px;
    margin-left: 78px;
  }
  .started__right {
    margin-right: 78px;
  }
}
@media screen and (min-width: 1440px) {
  .started__left {
    margin: 64px 100px 0 280px;
  }
  .started__right {
    margin-top: 88px 208px 0 0;
  }
}

.blog {
  display: flex;
  flex-direction: column;
  color: #000;
  margin: 100px 24px 0 24px;
}
.blog__title .block-title {
  margin: 0;
  position: relative;
}
.blog__title .block-title::after {
  left: 180px;
}
.blog__box {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.blog__box-item {
  position: relative;
  width: 310px;
  height: 243px;
  margin-top: 44px;
  margin-right: 40px;
}
.blog__box-item-img {
  width: 259px;
  height: 160px;
  position: absolute;
  right: -17px;
  top: -24px;
}
.blog__box-item-background {
  width: 327px;
  height: 100%;
  background-color: var(--greenLatest);
  border-radius: 16px 16px 0 16px;
  position: absolute;
}
.blog__box-item p {
  font-size: 12px;
  font-weight: 700;
  line-height: 1.09;
}
.blog__box-item p:first-of-type {
  position: absolute;
  writing-mode: vertical-lr;
  text-orientation: upright;
  color: var(--blueDesign);
  top: 18px;
  left: 14px;
}
.blog__box-item p:last-of-type {
  position: absolute;
  top: 205px;
  left: 80px;
}
.blog__box-item-man {
  position: absolute;
  top: 150px;
  left: 16px;
}
.blog__box-item .block-subtitle {
  position: absolute;
  top: 150px;
  left: 80px;
}
.blog__box-numbers {
  display: flex;
  margin-top: 24px;
  justify-content: center;
}
.blog__box-numbers .block-subtitle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  margin-right: 22px;
  border-radius: 100%;
  color: var(--blueDesign);
  cursor: pointer;
}
.blog__box-numbers .block-subtitle:hover {
  box-shadow: 0 4px 16px var(--whiteShadow);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.blog__box-numbers .block-subtitle:active {
  box-shadow: none;
  border: 1px solid var(--greenLight);
}
@media screen and (min-width: 768px) {
  .blog {
    justify-content: center;
    align-items: center;
  }
  .blog__box {
    flex-direction: row;
  }
}
@media screen and (min-width: 1440px) {
  .blog__title {
    align-self: flex-start;
    margin-bottom: 20px;
  }
  .blog__box {
    align-self: flex-start;
  }
  .blog__box-numbers {
    flex-direction: column;
    margin-left: 107px;
  }
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
}
.form input {
  font-weight: 500;
  line-height: 0.94;
  width: 307px;
  padding: 14px 12px;
  margin-bottom: 16px;
  background-color: var(--blueInput);
  border: none;
  border-radius: 22px;
}
.form input:focus {
  outline: 2px solid var(--blueOne);
  color: #000;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form input:invalid {
  border: 1px solid var(--inputRed);
}
.form__btn {
  background-color: var(--greenLight);
  box-shadow: 0 4px 16px var(--greenSend);
  margin-top: 16px;
  width: 327px;
  height: 44px;
}
.form__btn:hover {
  background-color: var(--greenSendHover);
  box-shadow: 0 10 16 4 var(--sendHoverShadow);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__btn:active {
  background-color: var(--sendActive);
  box-shadow: 0 4 16 0 var(--sendActiveShadow);
}
@media screen and (min-width: 768px) {
  .form input {
    width: 420px;
  }
  .form__btn {
    width: 120px;
    height: 40px;
  }
}

footer .sources {
  display: flex;
  flex-direction: column;
  margin: 80px 24px 0 24px;
}
footer .sources .union-svg:hover {
  --icon-color: #000;
  cursor: pointer;
}
footer .sources__item h3 {
  font-weight: 700;
  margin-bottom: 16px;
}
footer .sources__item ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
footer .sources__item ul li {
  margin-bottom: 12px;
  cursor: pointer;
}
footer .sources__item ul li:hover {
  color: var(--graySourcesHover);
}
footer .sources__item-icons svg {
  margin-right: 20px;
  --sources-color: var(--blackSources);
  cursor: pointer;
}
footer .sources__item-icons svg:hover {
  --sources-color: var(--graySourcesHover);
}
footer .sources__underline {
  height: 1px;
  width: 100%;
  background-color: var(--greyMain);
  opacity: 0.1;
  margin: 43px 0 40px 0;
}
@media screen and (min-width: 768px) {
  footer .sources {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  footer .sources__item {
    margin-right: 28px;
    align-self: flex-start;
  }
  footer .sources__item .block-subtitle {
    margin: 0 0 24px 0;
  }
  footer .sources .union-svg {
    margin-right: 80px;
    align-self: flex-start;
  }
  footer .sources__underline {
    display: none;
  }
  footer .sources::after {
    content: "";
    position: absolute;
    top: 155px;
    width: 100%;
    border-bottom: 1px solid var(--greyMain);
    opacity: 0.1;
  }
}
footer .footer-text {
  font-size: 12px;
  font-weight: 600;
  line-height: 1.09;
  margin: 0 24px 24px 24px;
  display: flex;
  flex-direction: column;
}
footer .footer-text p {
  margin: 0 0 24px 0;
}
footer .footer-text ul {
  list-style: none;
  padding: 0;
}
footer .footer-text ul li {
  margin-bottom: 20px;
}
footer .footer-text ul li a {
  text-decoration: none;
  color: var(--greyMain);
}
footer .footer-text ul li a:hover {
  color: var(--blueOne);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  footer .footer-text {
    flex-direction: row;
    margin-top: 40px;
    justify-content: space-between;
  }
  footer .footer-text p {
    margin-top: 12px;
  }
  footer .footer-text ul {
    display: flex;
  }
  footer .footer-text ul li {
    margin: 0 20px 0 0;
  }
}